# Enable the development environment
DEBUG = True

# Define POST credentials
POST_USERNAME = ""
POST_PASSWORD = ""

# Define the database
SQLALCHEMY_TRACK_MODIFICATIONS = False
SQLALCHEMY_DATABASE_URI = 'mysql+pymysql://<dbuser>:<dbpassword>@<hostname>:3306/<dbname>'
DATABASE_CONNECT_OPTIONS = {}

# Last.fm credentials
LASTFM_API_KEY = ""
LASTFM_API_SECRET = ""
LASTFM_USERNAME = ""
LASTFM_PASSWORD = ""

# wmtu web server url
WMTU_SERVER_URL = "wmtu.fm/api/update"

# TuneIn credentials
TUNEIN_API_URI = "http://air.radiotime.com/Playing.ashx"
TUNEIN_PARTNER_ID = ""
TUNEIN_PARTNER_KEY = ""
TUNEIN_STATION_ID = ""

# Icecast credentials
ICECAST_SERVER_URI = "http://<hostname>:8000/"
ICECAST_MOUNTPOINTS = ["</mountpoint>",]
ICECAST_USERNAME = ""
ICECAST_PASSWORD = ""
